{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
        <hr class="line-divider">
    </header>
    <div class="entry-content">
        <p>
            I work on the Azure Developer Experience team at Microsoft on cloud native developer tools and experiences.
            I am the product lead for the <a href="https://aka.ms/azd" class="body-link" target="_blank"> Azure
                Developer CLI (azd)</a>, which streamlines the onboarding, management and deployment of cloud native
            applications on Azure.
        </p>
        <p>
            Previously, I worked at Google in the Android org managing a cross-product program focused on
            simplifying the development of <a
                href="https://developer.android.com/guide/topics/connectivity/cross-device-sdk/overview"
                class="body-link">multi-device experiences</a> across any platform, operating system, or
            form factor. Before that, I worked at Microsoft on <a
                href="https://devblogs.microsoft.com/search?query=savannah&blog=%2Fpython%2F" class="body-link"
                target="_blank">Python developer experience</a> and was the inaugural product
            manager for the <a href="https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance" class="body-link"
                target="_blank">Pylance language server</a>, which powers the editing experience for millions of Python
            developers in VS Code, Visual Studio, GitHub Codespaces, and more. I've also worked as a software
            engineer, contributing to drone reforestation software as the first engineering hire at a seed-stage
            startup, and served as the lead developer on a data ingestion pipeline and platform that powers
            mapping software used on millions of devices worldwide.</p>
        <p>
            In my free time, you can usually find me spending my time with my <a
                href="https://github.com/savannahostrowski/savannahostrowski/blob/main/cats.jpg" class="body-link"
                target="_blank">cats</a> (who are named after Japanese foods - Miso, Momo and Nori),
            reading books, and writing code (currently focused on contributing to CPython and building CLIs in Go with
            Charm). In general, I love talking about Python, Go, developer experience, containers, open source software,
            book recommendations, and, of course, cats.
        </p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
