{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
        <hr class="line-divider">
    </header>
    <div class="entry-content">
        <p>
            I work at Docker as a Staff Product Manager. I'm the product manager responsible for the <a
                href="https://www.docker.com/products/container-runtime/" class="body-link" target="_blank">Docker
                runtime</a>, which includes Docker engine and the <code>docker</code> CLI.
        </p>
        <p>
            I've been working on product for developer tools for the past 4 years. Before Docker, I worked on
            cloud-native
            developer tools for Azure (<a href="https://aka.ms/azd" class="body-link" target="_blank">Azure
                Developer CLI (<code>azd</code>)</a>), on Android developer tools at Google (<a
                href="https://developer.android.com/guide/topics/connectivity/cross-device-sdk/overview"
                class="body-link">Cross Device SDK</a>), and on Python developer experience at Microsoft (<a
                href="https://devblogs.microsoft.com/search?query=savannah+ostrowski&blogs=%2Fpython%2F&sortby=relevance&search-button="
                class="body-link" target="_blank">Pylance language server, Python in the browser, etc.</a>). I've also
            worked as a software engineer at consultancies and startups.
        </p>
        <p>
            In my free time, you can usually find me spending my time with my <a
                href="https://github.com/savannahostrowski/savannahostrowski/blob/main/cats.jpg" class="body-link"
                target="_blank">cats</a> (who are named after Japanese foods - Miso, Momo and Nori),
            reading books, and writing code (currently focused on contributing to CPython and building CLIs in Go with
            Charm). In general, I love talking about Python, Go, developer experience, containers, open source software,
            book recommendations, and, of course, cats.
        </p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
