<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>{{ site_title }}</title>
        <link>{{ site_url }}</link>
        <description>{{ site_description }}</description>
        <atom:link href="{{ site_url }}{{ feed_path | default('/index.xml') }}" rel="self" type="application/rss+xml"/>
        {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ site_url }}/posts/{{ post.slug }}/</link>
            <guid>{{ site_url }}/posts/{{ post.slug }}/</guid>
            <pubDate>{{ post.date.strftime("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
            <description>{{ post.description }}</description>
            <content:encoded><![CDATA[{{ post.body_html | safe }}]]></content:encoded>
            {% for tag in post.tags %}
            <category>{{ tag }}</category>
            {% endfor %}
        </item>
        {% endfor %}
    </channel>
</rss>
